#main {
	margin: 0 auto;
}
.rawContainer {
	display: flex;
	justify-content: space-around;
}
.div_100 {
	display: inline-block;
	border: 2px solid black;
	min-width: 100px;
	width: 100px;
	min-height: 100px;
	height: 100px;
	border-radius: 10px;
	margin: 10px;
}